body{
background-color:lightgray;
  margin: 0;
    height: 100%;
	overflow:visible;
}
.handy_fix{
	overflow-x:hidden;
	max-width: 100%
}
.hintergrund{
background-color:black;
width:220vw;
height:220vh;
position:fixed;
top:-100vh;
left:-100vw;
}
.w_text{
	font-size: 120%;
	font-family: "Times New Roman", Times, serif;
}
.alert{
	background-color:white;
	padding: 20px;
	border: 2px solid grey;
	position:fixed;
	left:12.5%;
	right:12.5%;
	top:35%;
	z-index:10;
}
.falsch{
	background-color: rgba(255, 0, 0, 0.3);
	border-color:red;
}
.bild_anf{
	top:0px;
position:relative;
	left: 25vw;
	height:95%;
}
.hinter_anf{
  width: 100%;
  height: 95%;
  margin: 0px;
  background-image: linear-gradient(to right, black 15% , white 50%,black 85%);
  background-position: 50% 100%;
  top: 0px;
  left: 0px;
  position: relative;
}
/* .hinter_anf_2{ */
  /* width: 100%; */
  /* height: 50%; */
  /* margin: 0px; */
  /* background-image: linear-gradient(black,lightgray); */
/* } */
.tabs_SCP{ 
width:98%;
margin:1%;
background-color:lightgray;
text-align:center;
font-size:120%;
}
.schieben_Info{
 animation: schieben_info 1s;
 animation-fill-mode: forwards;
 left:0%;
 width:100%;
 position: absolute;
 display:flex;
flex-wrap:nowrap;
}
.schieben_Sach{
 animation: schieben_Sach 1s;
 animation-fill-mode: forwards;
 left:100%;
 width:100%;
 position: absolute;
 display:flex;
flex-wrap:nowrap;
}
.schieben_Geld{
 animation: schieben_Geld 1s;
 animation-fill-mode: forwards;
 left:200%;
 width:100%;
 position: absolute;
 display:flex;
flex-wrap:nowrap;
}
.Info{
overflow:visible;
position:absolute;
width:98%;
left:0;
padding:1%;
}
.Sach{
overflow:visible;
position:absolute;
width:98%;
left:100%;
padding:1%;
}
.Geld{
overflow:visible;
position:absolute;
width:98%;
left:200%;
padding:1%;
}
.dirc{
	width:60%;
	overflow:clip;
}
.Hover_Inf{
width:40%;
}
.dirc_contain{
	display:flex;
	flex-wrap:nowrap;
}
