body{
background-color:lightgray;
}
.hintergrund{
background-color:black;
width:200vw;
height:200vh;
position:fixed;
top:-100vh;
left:-100vw;
}
.n_text{
	font-size: 120%;
	font-family: "Times New Roman", Times, serif;
	 animation-fill-mode: forwards;
}
.alert{
	background-color:white;
	padding: 20px;
	border: 1px solid black;
	position:fixed;
	left:25vw;
	right:25vw;
	top:35vh;
	z-index:10;
}
.falsch{
	background-color: rgba(255, 0, 0, 0.3);
	border-color:red;
}
.bild_anf{
	top:0px;
position:absolute;
	left: 25vw;
	height:97vh;
}
.hinter_anf{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-image: linear-gradient(to right, black 15% , white 50%,black 85%);
  background-position: 50% 100%;
  top: 0%;
  left: 0%;
  position: fixed;
}